$modal-border-width: 1px;

#root {
  margin: 0 auto;
}

.modal {
  margin: 0;
  display: flex;
  position: fixed;
  
  min-height: 100vh;
  background-color: rgba(30, 30, 30, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  
  overflow-y: auto;

  .modal-inner {
    @extend .gradient-border;
    margin: 3px;
    min-width: calc(100% - ($modal-border-width * 2) - 6px);
    min-height: calc(100% - ($modal-border-width * 2) - 6px);

    @media screen and (min-width: 480px) {
      margin: auto;
      min-width: 480px;
      max-width: calc(100% - 10px);
      min-height: auto;
    }

  }

  .modal-body {
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 3px;
  }
}


.identifier {
  color: #67abe2;
  font-weight: bold;
}

.element {
  display: inline-block;
}

.children {
  margin-left: 1rem;
  display: block;
}

.variable {
  color: #67abe2;
}

.string {
  color: #CE9178;
}

.keyword {
  color: #C586C0;
}

.no-print {
  @media print {
    display: none !important;
  }
}

.comment {
  @extend .no-print;

  color: #659252;
}

.printable {
  display: none !important;

  @media print {
    display: block !important;
  }
}

.social-link {
  @extend .icon;
  margin: 0.25rem 0.5rem;
  display: inline-block;
}

.icon {
  font-size: 28px;
}

.clickable {
  cursor: pointer;
}

.toolbar {
  right: 1rem;
  top: 1rem;
  position: absolute;

  > * {
    margin-left: 0.5rem;
  }
}


.skill {
  margin: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;

  span {
    font-size: 24px;
  }

  @media print {
    span {
      font-size: 16px;
    }
  }

  > * {
    margin-right: 0.5rem;
    display: inline-block;
  }

  .stack-name span {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }

  .skill-level {
    color: #67abe2;
    font-size: 12px;
    text-transform: lowercase;
    padding: 0.125rem 0.5rem;
    border-radius: 2rem;
    border: 1px solid currentColor;

    @media print {
      font-size: 16px;
      color: black;
      font-weight: bold;
      border: none;

      &::before {
        content: "[";
      }

      &::after {
        content: "]";
      }
    }
  }
}

.skill-expert {
  .skill-level, a {
    color: rgb(208, 152, 48);

    &:hover {
      color: rgb(246, 181, 61);
    }

    @media print {
      color: black;
    }
  }
}

.gradient-border {
  background-color: rgba(30, 30, 30, 0.8);
  position: relative;
  border-radius: $modal-border-width;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * $modal-border-width);
  left: calc(-1 * $modal-border-width);
  height: calc(100% + $modal-border-width * 2);
  width: calc(100% + $modal-border-width * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.input {
  display: block;
  width: calc(100% - 1rem);
  border: none;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-family: monospace;
  background-color: white;
  color: #333;
  border-bottom: 2px solid transparent;

  &.invalid {
    color: #FF6464;
    border-bottom-color: #FF6464;

    &::placeholder {
      color: #FF6464;
    }
  }
}

textarea.input {
  min-height: 10rem;
  
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  
  background-color: #67abe2;;
}

fieldset {
  border: none;
  padding: 0;
}

.work-name {
  display: flex;
  align-items: center;
  > svg {
    margin-right: 0.5rem;
  }
}

.work-url {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.work-stack {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;

  > span {
    margin-right: 0.5rem;
  }

  .stack-name {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  @media print {
    margin-top: 0;

    .stack-name {
      font-size: 14px;
    }

    .printable {
      display: inline !important;
    }
  }
}
